.fixed-top-nav{
    z-index: 10;
    position: fixed;
    /* height: 50px; */
    overflow: hidden;
    background-color: #fff;
    padding: 5px 120px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px #eeeeee;
}

.router{
    margin-top: 55px;
}